/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body {
    margin: 50px;
    background-color: gray;
    overflow: hidden;
}

@font-face {
    font-family: Peddana-Regular;
    /* Имя шрифта */
    src: url('../Fonts/Peddana-Regular.ttf');
    /* Путь к файлу со шрифтом */
}

.container {
    display: flex;
    width: 1400px;
    height: 830px;
    font-family: Peddana-Regular;
    position: fixed;
}

/*Left part*/

.left_part {
    width: 330px;
    height: 830px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, rgb(101, 115, 255), rgb(108, 115, 251), rgb(115, 116, 247), rgb(123, 116, 242), rgb(130, 116, 238), rgb(137, 117, 234), rgb(144, 117, 230), rgb(151, 118, 226), rgb(158, 118, 222), rgb(166, 118, 217), rgb(173, 119, 213), rgb(180, 119, 209));
}

.avatar {
    width: 135px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 55px;
}

.avatar_img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-bottom: 20px;
    object-fit: cover;
}

.avatar_name {
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
}

.menu {
    height: 240px;
    width: 100%;
    margin-top: 115px;
    display: flex;
    flex-direction: column;
}

.menu_item {
    display: flex;
    height: 50px;
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
    transition: background .2s linear;
    ;
}

.menu_item_indicator {
    height: 100%;
    width: 4px;
    background-color: #cfa1ff;
    border-radius: 0 10px 10px 0;
    opacity: 0;
    transition: opacity .2s linear;
}

.menu_item_icon {
    color: #fff;
    font-size: 20px;
    margin-left: 25px;
}

.menu_item:hover {
    background: #a28cf0;
}

.menu_item:hover .menu_item_indicator {
    opacity: 1;
}

.menu_item_name {
    color: #fff;
    padding-left: 15px;
    font-size: 25px;
    letter-spacing: 1px;
}

/*Main part*/

.main_part {
    background-color: #f1f5fe;
    height: 100%;
    width: 1115px;
    border-radius: 30px;
    position: relative;
    right: 55px;
    display: flex;
}

/*Center part*/

.center_part {
    height: 100%;
    width: 465px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center_part_header {
    margin-top: 75px;
    margin-left: 65px;
    color: #3b429c;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 3px;
    align-self: flex-start;
}

.search {
    width: 380px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    padding-left: 23px;
    letter-spacing: 1px;
    background: url('../images/icons/search_icon.png') no-repeat 95% 50%;
    background-color: #fff;
}

.search::-webkit-input-placeholder {
    color: #dcdde1
}

.search::-moz-placeholder {
    color: #dcdde1
}

.search:-moz-placeholder {
    color: #dcdde1
}

.search:-ms-input-placeholder {
    color: #dcdde1
}

.contacts {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 90px;
    margin-top: 10px;
}

.contacts:hover {
    overflow: auto;
}

.contact_card {
    width: 380px;
    height: 85px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all .3s linear;
}

.contact_card_date {
    align-self: flex-end;
    letter-spacing: 1px;
    color: #8d9097;
    font-size: 18px;
    padding-right: 20px;
    position: absolute;
    top: 10px;
}

.contact_card_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 2px 2px 5px 2px rgb(124, 124, 124);
    margin-left: 15px;
    transition: all .3s linear;
}

.contact_card_content {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.contact_card_text {
    padding-right: 120px;
}

.contact_card_name {
    color: #3b429c;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
    transition: all .3s linear;
}

.contact_card_old_msg {
    color: gray;
    font-size: 18px;
    letter-spacing: .5px;
    transition: all .3s linear;
}

.contact_card_indicator {
    width: 20px;
    height: 20px;
    background-color: #ff3c70;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
    position: relative;
    margin-right: 10px;
    transition: all .3s linear;
}

.contact_card_indicator_text {
    position: absolute;
    top: 60%;
    transform: translate3d(0, -50%, 0);
}

.contact_card:hover {
    width: 450px;
    height: 105px;
}

.contact_card:hover .contact_card_avatar {
    width: 70px;
    height: 70px;
}

.contact_card:hover .contact_card_name {
    font-size: 25px;
}

.contact_card:hover .contact_card_old_msg {
    font-size: 23px;
}

.contact_card:hover .contact_card_indicator {
    width: 25px;
    height: 25px;
    font-size: 20px;
}

/*Scroll styling*/
::-webkit-scrollbar {
    width: 8px;
    height: 0px;
}

::-webkit-scrollbar-button {
    background-color: #fff;
}

::-webkit-scrollbar-track {
    background-color: #999;
}

::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: #999;
}

::-webkit-resizer {
    background-color: #666;
}

/*Right part*/

.right_part{
    width: 650px;
    height: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;

}

.contact_card_main {
    width: 550px;
    height: 105px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.contact_card_date_main {
    align-self: flex-end;
    letter-spacing: 1px;
    color: #8d9097;
    font-size: 18px;
    padding-right: 20px;
    position: absolute;
    top: 10px;
}

.contact_card_avatar_main {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 2px 2px 5px 2px rgb(124, 124, 124);
    margin-left: 15px;
    transition: all .3s linear;
}

.contact_card_content_main {
    display: flex;
    align-items: center;
    position: relative; 
}

.contact_card_text_main {
    margin-left: 20px;
}

.contact_card_name_main {
    color: #3b429c;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 25px;
}

.contact_card_old_msg_main {
    color: gray;
    font-size: 23px;
    letter-spacing: .5px;
}

.chat_section{
    width: 550px;
    height: 580px;
    border-radius: 10px;
    background-color: #fff;
  
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.messages_section{
    margin: 10px;
    width: 545px;
    height: 460px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;

}
.my_message{
    align-self: flex-end;
}
.my_message p{
  text-align: right;
  font-size: 18px;
  padding-top: 5px;
  padding-right: 5px;
}
.my_message_text_box{
    display: flex;
}
.my_message_text{
    background-color: #691aff;
    color: #ffe4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px 10px 0 10px;
}
.triangle_right{
    width: 0;
	height: 0;
	border-bottom: 8px solid #691aff; 
    border-right: 8px solid transparent;	
    align-self: flex-end;
}

/**********************************************/

.his_message p{
  font-size: 18px;
  padding-top: 5px;
  padding-left: 5px;
}
.his_message_text_box{
    display: flex;
}
.his_message_text{
    background-color: #f1f5fe;
    color: #6f7680;
    filter: brightness(98%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px 10px 10px 0;
}
.triangle_left{
    width: 0;
	height: 0;
	border-bottom: 8px solid #f1f5fe; 
    border-left: 8px solid transparent;
    align-self: flex-end;
    filter: brightness(98%);
}
/**********************************************/

.typing_form{
    display: flex;
    width: 505px;  
    align-items:center;
    margin-top: 15px;
    
}
.chat_message{
    width: 440px;
    height: 80px;
    background-color:#fafbff;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    resize: none;
    outline:none
}
.chat_submit_button{
    width: 45px;
    height: 45px;
    background-image: linear-gradient(to top, rgb(101, 115, 255), rgb(108, 115, 251), rgb(115, 116, 247), rgb(123, 116, 242), rgb(130, 116, 238), rgb(137, 117, 234), rgb(144, 117, 230), rgb(151, 118, 226), rgb(158, 118, 222), rgb(166, 118, 217), rgb(173, 119, 213), rgb(180, 119, 209));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.fa-paper-plane{
    font-size: 23px;    
    color: #fff;
}